.gradle
.idea/workspace.xml
.idea/caches
out
local.properties

.idea/libraries
.idea/datasources
.idea/dataSources.xml
.idea/modules.xml
.idea/usage.statistics.xml
.idea/tasks.xml
**gradle.xml
**.iml
build
*.db

Playground/
*.carpo.config

*.name